


div{
background-color: aqua;

}

 .tk {

text-align: center;


}
a,table, th, td {
    border: 2px solid blueviolet;
    /* border-collapse: collapse; */
    border-spacing: 5px;
}
  th, td {
    padding: 5px;
    text-align: left;    
  }

.table{

    background-origin: padding-box;
    border: 1px solid 3333;

}

